#body1{
    background-color: antiquewhite;
}
#div1{ 
    border-radius: 0px;
    border: 2px  solid brown;
    height: 80px;
    width: 80px;
    background: rgb(250, 75, 31);
    text-align: center;
}
.div2{
    border: 2px solid blue;
    height: 80px;
    width: 80px;
    position:absolute;
    left:90px;
    background: rgb(227, 243, 7);
    text-align: center;
    }
.div3{
    border: 2px solid rgb(45, 179, 41);
    height: 80px;
    width: 80px;
    margin-top: 65px;
    position:absolute;
    left:172px;
    background: rgb(0, 128, 38);
    text-align: center;
    }
 .div4{
    border: 2px solid rgb(226, 148, 50);
    height: 80px;
    width: 80px;
    margin-top: -35px;
    position:absolute;
    left:254px;
    background: rgb(17, 0, 255);
    text-align: center;
  }
 .div5{
    border: 2px solid rgb(204, 16, 78);
    height: 80px;
    width: 80px;
    margin-top: -135px;
    position:absolute;
    left:336px;
    background: rgba(245, 4, 205, 0.459);
    text-align: center;
 }
 .div6{
    border: 2px solid rgb(63, 29, 40);
    height: 80px;
    width: 80px;
    margin-top: -154px;
    position:absolute;
    left:664px;
    background: yellow;
    text-align: center;
}
.div7{
    border: 2px solid rgb(255, 231, 227);
    height: 80px;
    width: 80px;
    margin-top: -87px;
    position:absolute;
    left:418px;
    background: orangered;
    text-align: center;
}
.div8{
    border: 2px solid rgb(80, 83, 27);
    height: 80px;
    width: 80px;
    margin-top: -22px;
    position:absolute;
    left:500px;
    background:rgb(255, 224, 250);
    text-align: center;
}
.div9{
    border: 2px solid rgb(228, 180, 141);
    height: 80px;
    width: 80px;
    margin-top: -124px;
    position:absolute;
    left:582px;
    background: rgb(97, 252, 100);
    text-align: center;
}
.div10{
    border: 2px solid rgb(228, 180, 141);
    height: 80px;
    width: 730px;
    margin-top: 25px;
    background: rgb(82, 175, 179);
    text-align: center;
}


