#box1 {
      height: 100px;
      width: 100px;
      background-color: blue;
      border: 5px solid black;
    }

    #box2 {
      height: 100px;
      width: 100px;
      background-color: darkgreen;
      border: 5px solid black;
      margin-left: 105px;
    }

    #box3 {
      height: 100px;
      width: 100px;
      background-color: red;
      border: 5px solid black;
      margin-left: 210px;
    }

    #box4 {
      height: 100px;
      width: 100px;
      background-color: yellow;
      border: 5px solid black;
      margin-left: 315px;
      margin-top: -215px;
    }

    #box5 {
      height: 100px;
      width: 100px;
      background-color: yellowgreen;
      border: 5px solid black;
      margin-left: 420px;
      margin-top: -215px;
    }

    #box6 {
      height: 100px;
      width: 100px;
      background-color: cornflowerblue;
      border: 5px solid black;
      margin-left: 525px;
      margin-bottom: 200px;
    }

    #box7 {
      height: 100px;
      width: 100px;
      background-color: orange;
      border: 5px solid black;
      margin-left: 630px;
      margin-top: -205px;
    }

    #box8 {
      height: 100px;
      width: 100px;
      background-color: indigo;
      border: 5px solid black;
      margin-left: 735px;
      margin-top: -215px;
    }

    #box9 {
      height: 100px;
      width: 100px;
      background-color: seashell;
      border: 5px solid black;
      margin-left: 840px;
      margin-top: -215px;
    }

    #box10 {
      height: 100px;
      width: 940px;
      background-color: darkgray;
      border: 5px solid black;
      margin-right: 100px;
      margin-top: 210px;
    }